<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="height: 5000px">

    </div>
    <script>
        function scrollTest() {
            console.log('滚动条触发');
        }
        function throttle(fun, time) {
            let t1 = 0 //当前初始时间
            return function () {
                let t2 = new Date()//当前时间
                if (t2 - t1 > time) {
                    fun.apply(this, arguments)
                    t1 = t2
                }

            }
        }
        document.addEventListener('scroll', throttle(scrollTest, 1000))
    </script>
</body>

</html>