<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: #ccc;">
    <button class=" btn" style="width:50em ; visibility: hidden; box-sizing: border-box;">增加</button>
    <script>
        const btn = document.querySelector('.btn')
        btn.addEventListener('click', debounce(add, 1000))
        function add() {
            console.log('z');
        }
        function debounce(fun, time) {
            let timer
            return function () {
                clearTimeout(timer)
                timer = setTimeout(() => {
                    fun()

                }, time)
            }
        }
        for (let i = 0; i < 4; i++) {
            i++
            console.log(i) // 打印了 1 和 3
        }

    </script>
</body>

</html>